
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="i material-icons bg-warning">content_copy</i>
                </div>
                <p class="card-category">Used Space</p>
                <h3 class="card-title">49/50
                    <small></small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <span class="text-muted">Get More Space...</span>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="i material-icons bg-success">store</i>
                </div>
                <p class="card-category">Revenue</p>
                <h3 class="card-title">$34,245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> <span class="text-muted"> Last 24 Hours</span>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="i material-icons bg-info">info_outline</i>
                </div>
                <p class="card-category">Fixed Issues</p>
                <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> <span class="text-muted"> Tracked from Github</span>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="i1 fa fa-twitter bg-secondary"></i>
                </div>
                <p class="card-category">Followers</p>
                <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i><span class="text-muted">Just Updated</span>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row mt-3 ml-5">
      <!-- card1 -->
        <div class="col-lg-3 col-md-6 m-4" id="card1">
            <section class="widget">
                <div class="widget-body clearfix">
                    <div class="row flex-nowrap">
                        <div class="col-3">
                            <span class="widget-icon">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-9 d-flex justify-content-end flex-column">
                            <h6 class="m-0">USERS GROWTH</h6>
                            <p class="h2 m-0 fw-normal">4,332</p>
                        </div>
                    </div>
                    <div class="row flex-nowrap mt-3">
                        <div class="col-6">
                            <h6 class="m-0">Registrations</h6>
                            <p class="value5">+830</p>
                        </div>
                        <div class="col-6">
                            <h6 class="m-0">Bounce Rate</h6>
                            <p class="value5">4.5%</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- card2 -->
        <div class="col-lg-3 col-md-6 m-4" id="card2">
            <section class="widget">
                <div class="widget-body clearfix">
                    <div class="row flex-nowrap">
                        <div class="col-3">
                            <span class="widget-icon ">
                                <i class="fa fa-user text-" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-9 d-flex justify-content-end flex-column">
                            <h6 class="m-0">VISITS TODAY</h6>
                            <p class="h2 m-0 fw-normal">11,322</p>
                        </div>
                    </div>
                    <div class="row flex-nowrap mt-3">
                        <div class="col-6">
                            <h6 class="m-0">NEW Visitors</h6>
                            <p class="value5">20.1%</p>
                        </div>
                        <div class="col-6">
                            <h6 class="m-0">Bounce Rate</h6>
                            <p class="value5">3.5%</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- card3 -->
        <div class="col-lg-3 col-md-6 m-4" id="card3">
            <section class="widget">
                <div class="widget-body clearfix">
                    <div class="row flex-nowrap">
                        <div class="col-3">
                            <span class="widget-icon ">
                                <i class="fa fa-first-order text-" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-9 d-flex justify-content-end flex-column">
                            <h6 class="m-0">ORDERS</h6>
                            <p class="h2 m-0 fw-normal">11,322</p>
                        </div>
                    </div>
                    <div class="row flex-nowrap mt-3">
                        <div class="col-6">
                            <h6 class="m-0">Basic Order</h6>
                            <p class="value5">3,356</p>
                        </div>
                        <div class="col-6">
                            <h6 class="m-0">Present</h6>
                            <p class="value5">1441</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <!-- Carousel -->
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img">
            <img src="https://www.mymaldives.com.au/wp-content/uploads/sites/11/2016/12/Beach-Banner.jpg" width="100%" height="300px" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-">
            <img src="https://thumbs.dreamstime.com/b/banner-autumn-time-background-some-fall-leaves-weathered-wood-copy-space-your-message-banner-autumn-time-115869531.jpg" width="100%" height="250px" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img">
                <img src="https://i.pinimg.com/originals/c3/fd/0d/c3fd0d1ce6359afde2ffe0aa2b42d0fa.jpg" width="100%" height="250px" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
        </ng-template>
    </ngb-carousel>

    <!-- Carousels -->
    <div class="row">
          <div class="media">
              <img class="align-self-end m-3" src="https://www.pngkit.com/png/full/352-3521404_img-dashboard-dashboard-png.png" height="150px" alt="Generic placeholder image">
              <div class="media-body">
                <h3 class="m-2">Bottom-aligned media</h3>
                  <p class="m-2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. 
                     <br> Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
                  </p>
                  <p class="m-2">
                      <br>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                      <br>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                      <br>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. 
                </p>
              </div>
            </div>
    </div>
    <div class="row mt-3">
          <div class="media">
              <div class="media-body">
                <h3 class="m-3">Bottom-aligned media</h3>
                  <p class="m-3">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. 
                     <br> Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
                  </p>
                  <p class="m-3">
                      <br>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
                      <br>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                      <br>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. 
                </p>
              </div>
              <img class="align-self-end m-3" src="https://www.klipfolio.com/sites/all/themes/klipfolio_theme/img/what-is-a-digital-dashboard/what-is-a-digital-dashboard-illustration_what-is-a-digital-dashboard.png" height="150px" alt="Generic placeholder image">
          </div>
    </div>
      <!--carousels close  -->
      <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img src="https://media.istockphoto.com/photos/autumn-maple-leaves-falling-leaves-natural-background-picture-id1041708400?k=6&m=1041708400&s=612x612&w=0&h=fOcHQawDo1o4rb0S9RS1zxce9Y4UZRDckUNvpuf8ls8=" 
                        width="200px" height="100px"   alt="card image " class="card-img-top img-responsive">
                   <div class="card-body">
                       <div class="card-title">
                           <h3 class="text1">Title of Card</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ex?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ab?</p>
                           <a href="" class="btn btn-primary btn-outline-warning">Go Next</a>
                       </div>
                   </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img src="https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
                width="200px" height="100px"  alt="card image " class="card-img-top img-responsive">
                   <div class="card-body">
                       <div class="card-title">
                           <h3 class="text2">Title of Card</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ex?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ab?</p>
                           <a href="" class="btn btn-primary btn-outline-warning">Go Next</a>
                       </div>
                   </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcBFvwWwx5kb2YQ3-hgYq_LuBMzL_mcm6Ww&usqp=CAU" 
                width="200px" height="100px"  alt="card image " class="card-img-top img-responsive">
                   <div class="card-body">
                       <div class="card-title">
                           <h3 class="text3">Title of Card</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ex?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ab?</p>
                           <a href="" class="btn btn-primary btn-outline-warning">Go Next</a>
                       </div>
                   </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img src="https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2F2RNK1P0BYVrSCZEy_Sd1Ew%252F3417757448_4a6bdf36ce_o.jpg&width=1200&quality=80" 
                width="200px" height="100px"  alt="card image " class="card-img-top img-responsive">
                   <div class="card-body">
                       <div class="card-title">
                           <h3 class="text2">Title of Card</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ex?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, ab?</p>
                           <a href="" class="btn btn-primary btn-outline-warning">Go Next</a>
                       </div>
                   </div>
            </div>
        </div>
      </div>
</div>
  
  <!-- next abd pev buttion -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" routerLink="home" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item bg-info"><a class="page-link" routerLink="form">1</a></li>
                <li class="page-item"><a class="page-link" routerLink="table">2</a></li>
                <li class="page-item"><a class="page-link" routerLink="map">3</a></li>
                <li class="page-item">
                  <a class="page-link"routerLink="chart" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
            </ul>
        </nav>
    </div>
    
</div>
  
<!-- Footer -->
<footer class="page-footer font-small ">
      <div class="container">
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
              <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
              <a class="text-light">DashBoard</a>
              </h6>
              </div>
              <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
              <a class="text-light">About us</a>
              </h6>
              </div>
              <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
              <a class="text-light">charts</a>
              </h6>
              </div>
              <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
              <a class="text-light">Help</a>
              </h6>
              </div>
              <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
              <a class="text-light" >Contact</a>
              </h6>
              </div>
          </div>
          <!-- Grid row-->
          <hr class="rgba-white-light bg-dark" style="margin: 0 10%; border: 0.1px solid thistle;">
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
             <div class="col-md-8 col-12 mt-4">
                  <p style="color: aliceblue; font-size: inherit;">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
                  laudantium, totam rem aperiam,eaque ipsa quae ab illo inventore veritatis et quasi
                  architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                  voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                  </p>
              </div>
          </div>
          <!-- Grid row-->
          <hr class="clearfix d-md-none">    
          <div class="row pb-1v mt-3">        
              <div class="col-md-12">
                  <div class="mb-5 text-center d-flex justify-content-center ">
                  <a class="soc-icon " href="https://www.facebook.com/">
                      <i class="fa fa-facebook-official m-3 icon6" aria-hidden="true"></i>
                  </a>
                  <a class="soc-icon" href="https://twitter.com/login?lang=en">
                      <i class="fa fa-twitter m-3 icon1" aria-hidden="true"></i>
                  </a>
                  <a class="soc-icon" href="https://myaccount.google.com/intro/profile">
                      <i class="fa fa-google-plus m-3 icon2" aria-hidden="true"></i>
                  </a>
                  <a class="soc-icon" href="https://in.linkedin.com/">
                      <i class="fa fa-linkedin m-3 icon3" aria-hidden="true"></i>
                  </a>
                  <a class="soc-icon" href="https://www.instagram.com/">
                      <i class="fa fa-instagram m-3 icon4" aria-hidden="true"></i>
                  </a>           
                  <a class="soc-icon" href="https://in.pinterest.com/">
                      <i class="fa fa-pinterest m-3 icon5" aria-hidden="true"></i>
                  </a>
                  </div>
              </div>       
          </div>
      </div>
      <hr class="rgba-white-light bg-dark" style="margin: 0 10%; border: 0.1px solid thistle;">
      <div class="footer-copyright text-center py-3 text-info h6">&copy; 2020 Copyright :
        <a href="https://mdbootstrap.com/" class="text-light h5"> NagarajuThota</a>
      </div>
</footer>



